

  .one-player {
    width: 740px !important; /* Set the width for larger screens */
    height: 440px !important; /* Set the height for larger screens */
  }
  
  /* Media query for screens with a maximum width of 768px */
  @media screen and (max-width: 768px) {
    .one-player {
      width:400px !important; 
      height: 250px !important; 
      z-index: 2;
    }
  }

  
  
  
  
  
  