 .navbar-main{
    z-index: 2;
        background: linear-gradient( black 85%, gold 100%);
} 

.search-input-wrapper{
   
        position: absolute;
        top: 9px;
        right: 170px;
        z-index: 3;
}