.input-wrapper {
  width: 320px;
  height: 45px;
  flex-shrink: 0;
  background: transparent;
  outline: none;
  border-radius: 10px;
  position: relative; 
  border: none;
  color: black
}

.input-wrapper::placeholder {
  color: #797979;
}


/* input[type="text"],
.input-wrapper {
  transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
} */

/* Added border style for focus state */
/* input[type="text"]:focus,
.input-wrapper:focus {
  box-shadow: 0 0 10px rgba(255, 234, 0);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD; 
} */

/* Added for the focus border effect */
/* .input-wrapper:focus-within::after {
  content: ""; 
  position: absolute;
  border: 5px solid rgba(255, 234, 0);
  top: -7px;
  right: -7px;
  bottom: -7px;
  left: -7px;
  pointer-events: none;
} */

